<h1>{{titulo}}</h1>

<ul>
    <li *ngIf="loading == 'show'">
        Cargando...
    </li>
    <li *ngFor="let item of lstEmpleados">
        <div class="image"></div>
        <div class="data">
            <h4>{{item.Name}}</h4>
            <p>{{item.Email}}</p>
            <p>
                <a routerLink="/">Ver</a>
                <a routerLink="/">Editar</a>
                <a routerLink="/">eliminar</a>
            </p>
        </div>
        <div class="clearfix"></div>
    </li>
    <div class="clearfix"></div>
</ul>